@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #6360ff;
}

.heder-box {
  margin-top: 75px;
  margin-bottom: 69px;
  margin-left: 45px;
  width: 285px;
  height: 55px;
}
.heder-img {
  float: left;
  margin-left: 25px;
  margin-top: 75px;
}

.first-statment {
  display: inline-block;
  margin-left: -27px;
  color: #fcfcff;
  font-family: "DM Sans", serif;
  font-size: 5px;
  margin-top: 75px;
  padding-bottom: 5px;
}

.Tow-statment {
  display: inline-block;
  margin-left: 20px;
  color: #fcfcff;
  font-family: "DM Sans", serif;
  font-size: 14px;
  margin-top: 0px;
}

.contaner {
  width: auto;
  border: 1px;
  padding: 5px 15px 5px 15px;
  flex-wrap: wrap;
  background: #f1f1fa;
  margin-top: 70px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 650px;
}
a {
  text-decoration: none;
  color: #000;
}
.top-para {
  font-family: "DM Sans", serif;
  font-weight: bold;
  font-size: 14px;
  padding: 20px 10px;
}

.content-1 {
  width: auto;
  height: auto;
  margin-bottom: 25px;
  background: #ffffff;
  display: flex;
  padding: 0px 10px;
  border-radius: 20px;
}
.content-1 img {
  width: 85px;
  height: 85px;
  margin: 15px 5px;
}
i {
  color: gold;
}
i span {
  color: #91919f;
}
.content-1 div {
  font-size: 12px;
  padding: 15px 5px;
  font-family: "DM Sans";
  margin: 0;
  box-sizing: border-box;
}
.content-1 div h3 {
  margin: 10px 0px;
  font-family: "DM Sans";
}
b {
  color: #000;
  margin: 5px;
  font-family: "DM Sans";
}
